*{
  box-sizing: border-box;
  margin:0;
  padding:0
}
input{
  border-style: solid;
}
.category_img{
  width:15vmin;
  height:10vmin;

}
.fashion{
  display:"flex";
  flex-direction:"column";
  position: relative;
}
.fashion:hover{
  cursor: pointer;
}
.container-cart-product{
  padding:20px;
  height:auto;
}
.qnt-bttn{
  width:36px;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 161, 161);
  border-radius: 50%;
  cursor: pointer;
}
.abc{
  pointer-events: none;
  cursor:default;
  background-color:rgb(219, 214, 214);
}
.input-fields:focus{
  border-color: rgb(182, 171, 171);
  border-width: 1px;
}
.not-full{
  width:70%
}
.full{
  width:100%
}

.sub-list{
  background-color:white;
  padding:10px;
}
.sub-list:hover{
  background-color: rgb(118, 231, 226);
}
.log-dropdown{
  width:inherit;
  height: 10vh;
  background-color: white;
  color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:"10px";
}
.log-dropdown:hover{
  background-color: rgb(120, 198, 250);
}

.login-dropdown{
  width:inherit;
  height: 9vh;
  background-color: white;
  color:black;
  justify-content: flex-start;
  padding:"10px";
}
.login-dropdown:hover{
  background-color: rgb(120, 198, 250);
}


.login-input{
  font-size: 1.1rem;
}
.login-input:focus{
  outline: none;
  border-color: #2874f0;
  transition: border 0.2s ease-out;
}
.pointer{
  transform: rotate(45deg);

}
.drop-down-shadow{
  -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
  box-shadow: 0px 3px 8px rgb(100, 100, 100);
}