*{
  box-sizing: border-box;
  margin:0;
  padding:0
}
input{
  border-style: solid;
}
label{
  font-size:1.2rem
}
.category_img{
  width:15vmin;
  height:10vmin;

}
.fashion{
  display:"flex";
  flex-direction:"column";
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.fashion:hover{
  cursor: pointer;
  transform:scale(1.2,1.2);
  
}
.container-cart-product{
  padding:20px;
  height:auto;
}
.qnt-bttn{
  width:36px;
  height:36px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 161, 161);
  border-radius: 50%;
  cursor: pointer;
}
.abc{
  pointer-events: none;
  cursor:default;
  background-color:rgb(219, 214, 214);
}
.input-fields:focus{
  border-color: rgb(182, 171, 171);
  border-width: 1px;
}
.not-full{
  width:70%
}
.full{
  width:100%
}

.sub-list{
  background-color:white;
  padding:10px;
}
.sub-list:hover{
  background-color: rgb(120, 198, 250);
}
.log-dropdown{
  width:inherit;
  height: 10vh;
  background-color: white;
  color:black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:"10px";
  
}
.log-dropdown:hover{
  background-color: rgb(120, 198, 250);
  
}

.login-dropdown{
  width:inherit;
  height: 9vh;
  background-color: white;
  color:black;
  justify-content: flex-start;
  padding:"10px";
  
}
.login-dropdown:hover{
  background-color: rgb(120, 198, 250);
}


.login-input{
  font-size: 1.1rem;
}
.login-input:focus{
  outline: none;
  border-color: #2874f0;
  transition: border 0.2s ease-out;
}
.pointer{
  transform: rotate(45deg);

}
.product-scale{
  transition: transform 0.4s ease-in-out;
}
.product-scale:hover{
  transform: scale(1.09,1.09);
  color:"blue"

}
.account-sub-sections{
  transition: font-weight 0.4s ease-out,transform 0.1s ease-in-out,background-color 0.2s ease-in-out;
}
.account-sub-sections:hover{
  font-weight: bold;
  transform:scale(1.05,1);
  cursor: pointer;
  background-color: #344CB7 !important;
}
.form-personal-info input[type=text]{
  width: 20vmax;
  height: 3.6vmax;
  padding-left: 2%;
  border-radius: 5px;
}
.form-personal-info input[type=radio]{
  margin-right: 10px;
}
.form-email-address input[type=text]{
  width: 20vmax;
  height: 3.6vmax;
  padding-left: 2%;
  border-radius: 5px;
}
.form-mobile input[type=text]{
  width: 20vmax;
  height: 3.6vmax;
  padding-left: 2%;
  border-radius: 5px;
}
.faq-sec{
  margin-top:2%;
}
.faq-sec-1{
  margin-top:3.5%;
}
.edit{
  width:5vmax;
  min-height:10vmin;
  padding:4px;
  cursor:pointer;
  box-shadow: 3px 3px 5px grey;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.edit > div:hover{
  color:blue;
}
.wishlist-img{
  width: 12%
}
.delete-icon{
  width:3%;
  height:3%;
  cursor: pointer;
}