*{
  box-sizing: border-box;
  margin:0;
  padding:0
}
input{
  border-style: solid;
}
.category_img{
  width:15vmin;
  height:10vmin;

}
.fashion{
  display:"flex";
  flex-direction:"column"
}
.fashion:hover{
  cursor: pointer;
}